[submodule "gr00t"]
	path = gr00t
	url = https://github.com/lbxa/gr00t
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/lbxa/lerobot
[submodule "so101"]
	path = so101
	url = git@github.com:lbxa/so101.git
